@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-paper: #111111;
  --color-text: #f5f5f5;
  --color-gold: #d4af37;
  --color-gold-light: #f1d592;
  --color-gold-dark: #9c7b2c;
  --color-accent: #d4af37;

  --font-display: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #1a1a1a, var(--color-background));
}

@layer base {

  h1,
  h2,
  h3 {
    font-family: var(--font-display);
  }
}